<div class="row">
    <div class="col-4 table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Website</th>
                    <th>User Name</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                @for(item of userList; track $index){
                    <tr>
                        <td>{{item.name}}</td>
                        <td>{{item.website}}</td>
                        <td>{{item.username}}</td>
                        <td>{{item.email}}</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-4 table-responsive">
        <ul>
            @for(item of todoList; track $index){
                <li>{{item.title}}</li>
            }
        </ul>
    </div>
    <div class="col-4 table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>User Name</th>
                    <th>Role</th>
                </tr>
            </thead>
            <tbody>
                @for(item of busBookingUsers; track $index){
                    <tr>
                        <td>{{item.userName}}</td>
                        <td>{{item.emailId}}</td>
                        <td>{{item.fullName}}</td>
                        <td>{{item.role}}</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>