<div class="row">
    <div class="col-7">
        <div class="card">
            <div class="card-header bg-success">
                User List
            </div>
            <div class="card-body">
                <table class="table-bordered">
                    <thead>
                        <tr>
                            <th>User ID</th>
                            <th>Email ID</th>
                            <th>Mobile No.</th>
                            <th>Full Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for(item of userList; track $index){
                        <tr>
                            <td>{{item.userId}}</td>
                            <td>{{item.emailId}}</td>
                            <td>{{item.mobileNo}}</td>
                            <td>{{item.fullName}}</td>
                        </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-5">
        <div class="card">
            <div class="card-header bg-success">
                New User
            </div>
            <div class="card-body">
                <form [formGroup]="userForm">
                    <div class="row">
                        <div class="col-6">
                            <label for="">Email</label>
                            <input type="text" formControlName="emailId" class="form-control">
                        </div>
                        <div class="col-6">
                            <label for="">Password</label>
                            <input type="text" formControlName="password" class="form-control">
                        </div>
                        <div class="col-6">
                            <label for="">Full Name</label>
                            <input type="text" formControlName="fullName" class="form-control">
                        </div>
                        <div class="col-6">
                            <label for="">Mobile No.</label>
                            <input type="text" formControlName="mobileNo" class="form-control">
                        </div>

                    </div>
                    <div class="row pt-3">
                        <div class="col-6 text-center">
                            <button class="btn btn-secondary">Reset</button>
                        </div>
                        <div class="col-6 text-center">
                            <button class="btn btn-success">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>