
<table style="width: 100%;">
   <tr>
    <td>
        {{courseName}}
    </td>

    <td>
       <span> {{productPrice}}</span>
    </td>
    </tr>
    <tr>
        <td>
            <input type="text" value="{{courseName}}">
        </td>
        <td>
            <input type="text" [maxLength]="maxChar" [minLength]="minChar">
            <br><p>Radio:</p>
            <input [type]="inputTypeRadio" >
            <br><p>Check Box:</p>
            <input [type]="inputTypeCheck" >
        </td>

        <td>
            <p [class]="myClassName">This is a sample css class</p>
        </td>
    </tr>
    <tr>
        <td>
            <button (click)="showAlert()">Display Message</button>
        </td>
        <td>
            <button (click)="changeCourse()">Change Course</button>
        </td>
        <td>
            <select (change)="onCityChange()">
                <option value="Pune">Pune</option>
                <option value="Mumbai">Mumbai</option>
                <option value="Kolkata">Kolkata</option>
            </select>
        </td>
    </tr>
    <tr>
        <td>
            <input type="text" [(ngModel)]="courseName">
        </td>
    </tr>
</table>
