<div class="row">
    <div class="col-7">
        <div class="card">
            <div class="card-header bg-success">
                User List
            </div>
            <div class="card-body">
                <table class="table-bordered">
                    <thead>
                        <tr>
                            <th>User ID</th>
                            <th>Email ID</th>
                            <th>Mobile No.</th>
                            <th>Full Name</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for(item of userList; track $index){
                        <tr>
                            <td>{{item.userId}}</td>
                            <td>{{item.emailId}}</td>
                            <td>{{item.mobileNo}}</td>
                            <td>{{item.fullName}}</td>
                            <td>
                                <button class='btn btn-primary btn-sm' (click)="onEdit(item)">Update</button>
                                <button class='btn btn-danger btn-sm' (click)="onDelete(item.userId)">Delete</button>
                            </td>
                        </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-5">
        <div class="card">
            <div class="card-header bg-success">
                New User
            </div>
            <div class="card-body">
                <form #formValue="ngForm">
                <div class="row">
                    <div class="col-6">
                        <label for="">Email</label>
                        <input type="text" #email="ngModel" required [(ngModel)]="userObj.emailId" name="emailId" class="form-control">
                        <div class="text-danger">
                            @if(email.errors?.['required']){
                            <span>This is a required field.</span>
                            }
                        </div>
                    </div>
                    <div class="col-6">
                        <label for="">Password</label>
                        <input type="text" #pwd="ngModel" required minlength="4" [(ngModel)]="userObj.password" name="pwd" class="form-control">
                        <div class="text-danger">
                            @if(pwd.errors?.['required']){
                                <span>This is a required field.</span>
                            }
                            @if(pwd.errors?.['minlength']){
                                <span>Minimum Character Length should be 4</span>
                            }
                        </div>
                    </div>
                    <div class="col-6">
                        <label for="">Full Name</label>
                        <input type="text" [(ngModel)]="userObj.fullName" name="fullName" class="form-control">
                    </div>
                    <div class="col-6">
                        <label for="">Mobile No.</label>
                        <input type="text" [(ngModel)]="userObj.mobileNo" name="mobNo" class="form-control">
                    </div>

                </div>
                </form>
                <div class="row pt-3">
                    <div class="col-6 text-center">
                        <button class="btn btn-secondary" (click)="onReset()">Reset</button>
                    </div>
                    <div class="col-6 text-center">
                        {{formValue.invalid}}
                        @if(userObj.userId===0){
                        <button class="btn btn-success" [disabled]="formValue.invalid" (click)="onSaveUser()">Save</button>
                        } @else{
                        <button class="btn btn-warning" (click)="onUpdateUser()">Update</button>
                        }

                    </div>


                </div>
            </div>
        </div>
    </div>
</div>