@if(isVisiblePara){
<p>control-flow works!</p>
} @else{
<p>Default control-flow works!</p>
}
<button (click)="showP()">Show Paragraph</button>
<button (click)="hideP()">Hide Paragraph</button>

<br>
<input type="text" [(ngModel)]="name" />
<div>
    @if (name=='jan'){
    <p>January</p>
    } @else if (name=='feb'){
    <p>February</p>
    } @else{
    <p>Wrong Input</p>
    }

</div>

<div>
    <ul>
        @for(item of cityList; track $index){
        <li>{{item}}</li>
        }
    </ul>
</div>
<div>
    <select name="" id="">
        @for(item of cityList; track $index){
        <option value="">{{item}}</option>
        }
    </select>
</div>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>City</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @for(item of studentList; track $index){
        <tr>
            <td>{{$index+1}}</td>
            <td>{{item.name}}</td>
            <td>{{item.city}}</td>
            <td>
                @if(item.isActive){
                    <h6>ACTIVE</h6>
                }@else{
                    <h6>INACTIVE</h6>
                }
            </td>
        </tr>
        }
    </tbody>
</table>