
<div class="row">
    <div class="col-3">
        <div class="p-3" [ngClass]="div1ClassName()">
            Div 1 - {{div1ClassName()}}
        </div>
    </div>
    <div class="col-3">
        <div class="p-3" [ngStyle]="{'background-color': isDiv2Green() == true ? 'blue':'red'}">
            Div 2 - {{isDiv2Green()}}
        </div>
    </div>
</div>

<div class="row">
    <div class="col-3">
        <button class="btn btn-success" (click)="setBgClass('bg-success')">Green</button>
        <button class="btn btn-danger" (click)="setBgClass('bg-danger')">Red</button>
    </div>
    <div class="col-3">
        <button class="btn btn-success" (click)="toggleDiv2Color()">Toggle BG Color</button>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <div class="p-3">
            First Name : {{firstName() | uppercase}}
        </div>
    </div>
    <div class="col-3">
        <div class="p-3">
            Course Name : {{coursName() | titlecase}}
        </div>
    </div>

    <div class="col-3">
        <div class="p-3">
            Roll Number : {{rollNumList | slice:0:3}}
        </div>
    </div>
</div>

<div class="row">
    <div class="col-3">
        <div class="p-3">
            student object: {{stdentObj | json}}
        </div>
    </div>
    <div class="col-3">
        <div class="p-3">
            Date : {{currDate}}
            <br>
            My Date : {{currDate| date}}
            <br>
            My Date : {{currDate| date:'dd-MMM-yy'}}
            <br>
            My Date : {{currDate| date:'dd-MMMM-yy'}}
            <br>
            My Date : {{currDate| date:'dd-MM-yy'}}
        </div>
    </div>
</div>