<div class="login-container d-flex justify-content-center align-items-center vh-100">
  <div class="login-card p-4 shadow rounded" style="width: 350px;">
    <h3 class="text-center mb-4">Login</h3>
    <form>
      <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        <input type="email"
               class="form-control"
               [(ngModel)]="loginObj.username"
               id="email"
               name="username"
               required />
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password"
               class="form-control"
               [(ngModel)]="loginObj.password"
               id="password"
               name="password"
               required />
      </div>

      <div class="d-grid">
        <button (click)="onLogin()" type="button" class="btn btn-success">Login</button>
      </div>
    </form>
  </div>
</div>
